[submodule "lib/paredit"]
	path = lib/paredit
	url = git://github.com/emacsmirror/paredit.git
    ignore=dirty
[submodule "lib/clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
    ignore=dirty
[submodule "lib/ac-nrepl"]
	path = lib/ac-nrepl
	url = git://github.com/purcell/ac-nrepl.git
[submodule "lib/nrepl"]
	path = lib/nrepl
	url = git://github.com/kingtim/nrepl.el.git
[submodule "lib/nrepl-decompile"]
	path = lib/nrepl-decompile
	url = https://github.com/clojure-emacs/nrepl-decompile.git
