[submodule "ac-slime"]
	path = lib/ac-slime
	url = https://github.com/purcell/ac-slime.git
    ignore = dirty
[submodule "slime"]
	path = lib/slime
	url = https://github.com/technomancy/slime.git
    ignore = dirty
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
    ignore = dirty
[submodule "lib/paredit"]
	path = lib/paredit
	url = git://github.com/emacsmirror/paredit.git
