[submodule "ac-slime"]
	path = ac-slime
	url = https://github.com/purcell/ac-slime.git
    ignore = dirty
[submodule "slime"]
	path = slime
	url = https://github.com/technomancy/slime.git
    ignore = dirty
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
    ignore = dirty
